{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %} </title>
    <link rel="stylesheet" href=" {% static 'styles.css' %} ">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-left">
            <li><a href="/">PILARES BLOG</a></li>
        </ul>
        <ul class="nav-right">
            <li><a href="/blog">Blog</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Registrate</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>@Todos Los derechos reservados PILARES CDMX</p>
    </footer>
</body>
</html>